body {
    background-color: #eeeeee;
}

.grid {
    width: 600px;
    height: 535px;
    margin: 10px 20px 10px 20px;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 60px;
    border: 1px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
}

.grid h1 {
    font-family: "sans-serif";
    background-color: #dc3545 ;
    font-size: 5vw;
    text-align: center;
    color: #ffffff;
    padding: 5px 0px 5px;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: 8px 8px 7px #cbcbcb;
}

#score {
    color: #000;
    text-align: center;
    font-size: 30px;
}

.grid #question {
    font-family: "monospace";
    font-size: 4vh;
    color: #000;
}

.buttons {
    margin-top: 30px;
    text-align: center;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: #fff;
    padding: 2px;
    width: 220px;
    font-size: 20px;
    color:#000;
    border: 1px solid #000;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    outline: none;
    
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #2b2b2b;
    color: #fff;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    color: #2b2b2b;
    font-size: 18px;
}